<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Inventory</title>
    <link rel="stylesheet" href="catagories.css" />
    <link rel="stylesheet" href="navBarFooter.css" />
  </head>
  <body>
    <%- include('navBar.ejs') %>
    <div class="main">
      <h1>Catagories</h1>
      <a href="/catagories/form">Create New Catagory</a>
      <div class="catagoryDiv">
        <% catagories.map((catagory) => { %>
        <a class="catagoryAnchor" href="/catagories/<%= catagory.id %>">
          <div class="catagory">
            <p><%= catagory.name %></p>
          </div>
        </a>
        <a href="/catagories/modify/<%= catagory.id %>"
          >Modify <%= catagory.name %></a
        >
        <form action="/catagories/delete/<%= catagory.id %>" method="post">
          <button
            type="submit"
            onclick="return confirm('This will delete the catagory and its associated products');"
          >
            Delete <%= catagory.name %>
          </button>
        </form>
        <% }) %>
      </div>
    </div>
  </body>
</html>
